{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='img/blogs/{}/{}.png'.format(blog.id, blog.id)) }}" 
                     class="card-img-top" alt="{{ blog.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.caption }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated: {{ blog.updated_at.strftime('%Y-%m-%d %H:%M') }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
